html,
body {
  margin:0;
  padding:0;
  height:98%;
}

body {
    text-align: center;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    font-family: 'Walter Turncoat', serif;
    font-size: 20px;
}

#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  background:#ededed;
  padding:10px;
}
#content {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom:20px; /* Height of the footer element */
}
#footer {
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
}

h3{
  line-height: 0%;
}

#or{
  line-height: 0%;
}

